* { margin: 0; padding: 0;}

body { font-family: Helvetica sans-serif; background-image: url('../img/bg.png'); color: #333333; }
h1, h2, h3 { font-family: Georgia, Times New Roman, serif; margin-bottom: 10px; }
img { border-width: 0; display: block; }
/* Because HTML5. */
section, aside, header, footer { display: block; }
label { display:block; font-weight: bold; }
input[type="text"], textarea { padding: 5px; }
button, .button { padding: 5px 20px; border-radius: 10px; border-style: solid; border-width: 2px; margin: 0 5px 5px; color: #FFFFFF; font-weight:bold; font-size: 16px; text-shadow: #888888 1px 1px 2px; background-color: #888888; }
a.button { display: block; }
ul { padding-left: 20px; }

table { border-collapse: collapse; width: 100%; margin: 0 20px;}
table th, table td { padding-right: 10px; }
table th.numeric, table td.numeric { text-align: right; }

header, #main, footer { text-align: center; }
header { background-color: #666666; height: 50px; padding-top: 10px; padding-bottom: 10px; border-bottom: solid 2px #333333;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555555), to(#666666));
    background-image: -webkit-linear-gradient(top, #555555, #666666);
    background-image: -moz-linear-gradient(top, #555555, #666666);
    background-image: -ms-linear-gradient(top, #555555, #666666);
}
#main { clear: both; }
footer { background-color: #FFFFFF; border-top: solid 2px #333333; clear: both; padding-top: 20px; padding-bottom: 100px; }
.centerriffic { width: 900px; position: relative; margin: auto; text-align: left; }

button, .button {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#888888));
    background-image: -webkit-linear-gradient(top, #666666, #888888);
    background-image: -moz-linear-gradient(top, #666666, #888888);
    background-image: -ms-linear-gradient(top, #666666, #888888);
    border-color: #444444;
}
button:hover, .button:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#AAAAAA));
    background-image: -webkit-linear-gradient(top, #888888, #AAAAAA);
    background-image: -moz-linear-gradient(top, #888888, #AAAAAA);
    background-image: -ms-linear-gradient(top, #888888, #AAAAAA);
}
button:active, .button:active {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00FF00), to(#888888));
    background-image: -webkit-linear-gradient(top, #AAAAAA, #888888);
    background-image: -moz-linear-gradient(top, #AAAAAA, #888888);
    background-image: -ms-linear-gradient(top, #AAAAAA, #888888);
}

button.green, .button.green {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00AA00), to(#00DD00));
    background-image: -webkit-linear-gradient(top, #00AA00, #00DD00);
    background-image: -moz-linear-gradient(top, #00AA00, #00DD00);
    background-image: -ms-linear-gradient(top, #00AA00, #00DD00);
    border-color: #006600;
}
button.green:hover, .button.green:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00CC00), to(#00FF00));
    background-image: -webkit-linear-gradient(top, #00CC00, #00FF00);
    background-image: -moz-linear-gradient(top, #00CC00, #00FF00);
    background-image: -ms-linear-gradient(top, #00CC00, #00FF00);
}
button.green:active, .button.green:active {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00FF00), to(#00CC00));
    background-image: -webkit-linear-gradient(top, #00FF00, #00CC00);
    background-image: -moz-linear-gradient(top, #00FF00, #00CC00);
    background-image: -ms-linear-gradient(top, #00FF00, #00CC00);
}

header a, header a:visited, header a:hover { color: #FFFFFF; }
#logo { float: left; width: 200px; }
#logo h1 { font-size: 40px; color: #FFFFFF; text-shadow: #000000 1px 1px 2px; }
#logo h1 a, #logo h1 a:visited, #logo h1 a:hover { color: #FFFFFF; text-decoration: none; }
#user-details { float: right; width: 300px; overflow: hidden; }
#user-details .big-gravatar { float: left; margin: 0 10px 0 0; }
#user-details .big-gravatar img { border: solid 1px #FFFFFF; }
.big-gravatar-image { height: 50px; width: 50px; }
#user-details .username { font-size: 22px; }
#user-details .user-meta { font-size: 16px; list-style: none; }
#user-details .user-meta li { display: inline; margin-right: 10px; }

#track-progress { height: 400px; }
#track-progress .track { float: left; }
#track-progress .question { height: 40px; background-image: url('../img/track_bg.png'); background-repeat: repeat-y; width: 50px; text-align: center; }
#track-progress .progress-dot { font-size: 100px; }
#competitor-icons { clear: both; border-top: solid 2px #FFFFFF; }
#competitor-icons .competitor { float: left; width: 50px; }
.little-gravatar-image { height: 50px; width: 50px; }

#content-wrapper { float: left; width: 690px; margin: 0px 0 20px 0; }
.generic-wrapper { margin: 10px 0 20px 0; background-color: #FFFFFF; border-radius: 5px; padding: 10px 20px; }
#qa-wrapper { float: left; width: 690px; margin: 10px 0 20px 0; background-color: #FFFFFF; border-radius: 5px; }
#question-wrapper, #answer-wrapper { float: left; width: 300px; padding: 10px 20px; }
#question-wrapper { margin-right: 10px; }
#answer-wrapper { border-left: dashed 2px #333333; width: 298px; }
#answer-wrapper textarea { height: 300px; width: 300px;}
#answer-wrapper #stupid-submit-button { display: none; }

#other-competitors { clear: both; background-color: #FFFFFF; padding: 10px 20px; border-radius: 5px; }
#other-competitors ul { list-style: none; }

.form-row { margin-bottom: 20px; }
.form-row textarea { height: 300px; width: 300px; }
.form-row .hint { font-style: italic; color: #888888; }
.errors { background-color: #FF8888; border-radius: 5px; padding: 5px 10px; }

footer .centerriffic { text-align: center; }


body > .loading { -moz-transition:opacity 0.3s linear, left 0.3s 0.01s linear; -webkit-transition:opacity 0.3s linear, left 0.004s 0.5s linear; position:fixed; top:0px; left:-200%; height:100%; width:100%; opacity:0.0; background:rgba(0,0,0,0.5) }
body.loading > .loading { opacity:1.0; left:0; }

.loading > .loading h2 { background:#CCC; padding:10px 20px; border-radius:3px; margin:0pt auto; margin-top:10%; width:300px; }

.gravatar { height:48px; width:48px; position:relative; -webkit-box-shadow:0px -1px 10px rgba(0,0,0,0.3); }
.gravatar:before { height:48px; width:48px; display:block; left:0px; top:0px; border-radius:3px; margin:2px; z-index:1; position:absolute; -webkit-box-shadow:0px -1px 5px rgba(0,0,0,0.8) inset, 0px 1px 5px rgba(255, 255, 255,0.8) inset; content:' '; }
.gravatar img { height:100%; width:100%; border-radius:3px; border:2px solid #222; position:absolute; top:0px; left:0px; }

#track  { height:100%; position:absolute; height:100%; width:194px; background-color:#333; padding:10px; }
#race   { margin-left:230px; }
#track .racer { display:inline-block; position:absolute; left:10px; margin-right:4px; bottom:0%; }
#track .racer + .racer { left:68px; }
#track .racer + .racer + .racer { left:126px; }
#track .racer + .racer + .racer + .racer { left:184px; }

body.lobby .racing { opacity:0.0; z-index:-1000; }
body.racing .lobby { display:none; } 
body.lobby .lobby { display:auto; } 
body.racing .racing { display:auto; } 


