* { margin: 0; padding: 0;}

body { font-family: "Helvetica" sans-serif; background: repeat-y url('../img/bg.png') white; color: #333333; min-height:100%; }
body { position:relative; }

h1, h2, h3 { font-family: "SansationBold", "Helvetica", sans-serif; margin-bottom: 10px; }
img { border-width: 0; display: block; }
/* Because HTML5. */
section, aside, header, footer { display: block; }
label { display:block; font-weight: bold; }
input[type="text"], input[type="number"], textarea { padding: 5px; }
a.button { display: block; }
ul { padding-left: 20px; }

table { border-collapse: collapse; width: 100%; margin: 0 20px;}
table th, table td { padding-right: 10px; }
table th.numeric, table td.numeric { text-align: right; }

textarea { font-size:14px; font-family:monospace; }

a { color:#3D7CB1; text-decoration:none; }
a:hover { text-decoration:none; }

.form-row { overflow:hidden; }
.form-row label { width:300px; float:left; }
.form-row .hint { width:300px; float:left; }

ul { list-style:none }
ul li { margin-bottom:8px; border-bottom:1px dotted #CCC; padding-bottom:12px; }
ul li:last-child { margin-bottom:0; border-bottom:none; padding-bottom:0; }

header {
    width:300px;
    margin-right:16px;
    float:left;
}

header > div {
    padding:8px;
}

#main {
    width:600px;
    float:left;
}

#main > #main-wrapper {
    padding:8px;
}

.box            {
    border:3px solid rgba(0,0,0,0.4);  border-radius:3px; background:#DEDEDE; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#DEDEDE), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, #DEDEDE, #FFFFFF 25%);
    background-image: -moz-linear-gradient(top, #DEDEDE, #FFFFFF 25%);
    background-image: -ms-linear-gradient(top, #DEDEDE, #FFFFFF 25%);
    margin-bottom:32px;
    position:relative; 
}
.box > div      { padding:16px; border-radius:3px; } 

.box h1, 
.box h3, 
.box h2 { border-bottom:1px solid #CCC; margin-bottom:16px; padding-bottom:8px; }

.divider                { border-bottom:1px solid #CCC; margin-bottom:8px; padding-bottom:8px; }
.divider:last-child     { border-bottom:none; margin-bottom:0px; padding-bottom:0px; }

.left   { float:left; }
.right  { margin-left:16px; float:left; }
.divider    { overflow:hidden; }

footer { position:absolute; bottom:-100px; left:316px; margin-top:100px; }
.centerriffic { width: 900px; position: relative; margin: auto; text-align: left; }

button, .button { padding: 5px 20px; border-radius:3px; border-style: solid; border-width:1px; margin: 0 5px 5px; color: #FFFFFF; font-weight:bold; font-size: 16px; text-shadow: #888888 1px 1px 2px; background-color: #888888; }
button, .button {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#888888));
    background-image: -webkit-linear-gradient(top, #666666, #888888);
    background-image: -moz-linear-gradient(top, #666666, #888888);
    background-image: -ms-linear-gradient(top, #666666, #888888);
    border-color: #444444;
}
button:hover, .button:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#AAAAAA));
    background-image: -webkit-linear-gradient(top, #888888, #AAAAAA);
    background-image: -moz-linear-gradient(top, #888888, #AAAAAA);
    background-image: -ms-linear-gradient(top, #888888, #AAAAAA);
}
button:active, .button:active {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00FF00), to(#888888));
    background-image: -webkit-linear-gradient(top, #AAAAAA, #888888);
    background-image: -moz-linear-gradient(top, #AAAAAA, #888888);
    background-image: -ms-linear-gradient(top, #AAAAAA, #888888);
}

button.green, .button.green {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00AA00), to(#00DD00));
    background-image: -webkit-linear-gradient(top, #00AA00, #00DD00);
    background-image: -moz-linear-gradient(top, #00AA00, #00DD00);
    background-image: -ms-linear-gradient(top, #00AA00, #00DD00);
    border-color: #006600;
}
button.green:hover, .button.green:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00CC00), to(#00FF00));
    background-image: -webkit-linear-gradient(top, #00CC00, #00FF00);
    background-image: -moz-linear-gradient(top, #00CC00, #00FF00);
    background-image: -ms-linear-gradient(top, #00CC00, #00FF00);
}
button.green:active, .button.green:active {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00FF00), to(#00CC00));
    background-image: -webkit-linear-gradient(top, #00FF00, #00CC00);
    background-image: -moz-linear-gradient(top, #00FF00, #00CC00);
    background-image: -ms-linear-gradient(top, #00FF00, #00CC00);
}

header .username a, #logo a, #logo a:visited, #logo a:hover { color: #FFFFFF; }


#logo { }
#logo h1 { font-size:1.8em; color: #FFFFFF; text-shadow: #000000 4px 4px 0px; }
#logo h1 a, #logo h1 a:visited, #logo h1 a:hover { color: #FFFFFF; text-decoration: none; }
#user-details { width: 300px; overflow: hidden; }

#user-details .username { font-size: 22px; }
#user-details .user-meta { font-size: 16px; list-style: none; }
#user-details .user-meta li { display: inline; margin-right: 10px; }

#track-progress { height: 400px; }
#track-progress .track { float: left; }
#track-progress .question { height: 40px; background-image: url('../img/track_bg.png'); background-repeat: repeat-y; width: 50px; text-align: center; }
#track-progress .progress-dot { font-size: 100px; }
#competitor-icons { clear: both; border-top: solid 2px #FFFFFF; }
#competitor-icons .competitor { float: left; width: 50px; }
.little-gravatar-image { height: 50px; width: 50px; }

.state span { width:16px; display:inline-block; height:24px; background:#888; position:relative; margin:0px 32px; bottom:-4px; color:rgba(255,255,255,0.8); 
    border-radius:3px 3px 0px 0px;
    border-top:3px solid #2f2f2f;
    z-index:1;
}
.state span:before { content:' '; display:inline-block; width:16px; height:16px; background:#888; position:absolute; left:-16px; bottom:0px;  color:rgba(255,255,255,0.8);
    border-radius:3px 0px 0px 0px;
    border-top:3px solid #2f2f2f;
    z-index:0;
}
.state span:after { content:' '; display:inline-block; width:16px; height:8px; background:#888;  position:absolute;right:-16px; bottom:0px;  color:rgba(255,255,255,0.8);
    border-radius:0px 3px 0px 0px;
    border-top:3px solid #2f2f2f;
    z-index:0;
}

.state.place-1 span { border-color:#3D7CB1;background:#86BCD6; }
.state.place-2 span:before { border-color:#3D7CB1;background:#86BCD6; }
.state.place-3 span:after { border-color:#3D7CB1;background:#86BCD6; }



#content-wrapper { float: left; width: 690px; margin: 0px 0 20px 0; }
.generic-wrapper { margin: 10px 0 20px 0; }
#qa-wrapper { float: left; width: 690px; margin: 10px 0 20px 0; background-color: #FFFFFF; border-radius: 5px; }
#question-wrapper, #answer-wrapper { float: left; width: 300px; padding: 10px 20px; }
#question-wrapper { margin-right: 10px; }
#answer-wrapper { border-left: dashed 2px #333333; width: 298px; }
#answer-wrapper textarea { height: 300px; width: 300px;}
#answer-wrapper #stupid-submit-button { display: none; }

#other-competitors { clear: both; background-color: #FFFFFF; padding: 10px 20px; border-radius: 5px; }
#other-competitors ul { list-style: none; }

.form-row { margin-bottom: 20px; }
.form-row textarea { height: 300px; width: 300px; }
.form-row .hint { line-height:1.4em; font-size:0.95em; color: #888888; }
.errors { background-color: #FF8888; border-radius: 5px; padding: 5px 10px; }

body > .loading { -moz-transition:opacity 0.3s linear, left 0.3s 0.01s linear; -webkit-transition:opacity 0.3s linear, left 0.004s 0.5s linear; position:fixed; top:0px; left:-200%; height:100%; width:100%; opacity:0.0; background:rgba(0,0,0,0.5) }
body.loading > .loading { opacity:1.0; left:0; }

.loading > .loading h2 { background:#CCC; padding:10px 20px; border-radius:3px; margin:0pt auto; margin-top:10%; width:300px; }
.loading #race-loading-spinner { display:block; float:left; margin-top: 13px; width: 20px; margin-right: 10px; }

.gravatar { height:48px; width:48px; position:relative; -webkit-box-shadow:0px -1px 10px rgba(0,0,0,0.3); }
.gravatar:before { height:48px; width:48px; display:block; left:0px; top:0px; border-radius:3px; margin:2px; z-index:1; position:absolute; -webkit-box-shadow:0px -1px 5px rgba(0,0,0,0.8) inset, 0px 1px 5px rgba(255, 255, 255,0.8) inset; content:' '; }
.gravatar img { height:100%; width:100%; border-radius:3px; border:2px solid #222; position:absolute; top:0px; left:0px; }
.gravatar button { margin-left:64px; }


#track  { position:relative; width:276px; }
#race   { }

#track .question { display:block; height:64px; background:repeat-x url('../img/track_bg.png'); }
#track .racer { display:inline-block; margin-right:4px; margin-top:0%; position:absolute; top:24px; left:10px; }
#track .racer + .racer { left:76px; }
#track .racer + .racer + .racer { left:141px; }
#track .racer + .racer + .racer + .racer { left:205px; }

body.lobby .racing { display:none; }
body.racing .lobby { display:none; }
body.lobby .lobby { display:auto; }
body.racing .racing { display:auto; }

textarea { width:530px; height:300px; display:block; border-radius:3px; border:1px solid #CCC; }


#chat { border:1px solid #CCC; width:530px; height:300px; overflow:scroll; padding:8px; }
#chatbox { width:530px; margin-bottom:16px; border-bottom:1px solid #CCC; padding-bottom:16px; }

#flash { position:fixed; width:100%; background:rgba(128, 220, 164, 0.6); text-align:center; font-size:16px; top:0px; left:0px; opacity:0; -webkit-transition:opacity 0.2s ease-in; -moz-transition:opacity 0.2s ease-in; padding:16px; z-index:1000; }
#flash.flash { opacity:1.0; }

#modifiers { position:absolute; width:200px; right:-230px; padding:16px; background:white; border:2px solid rgba(0,0,0,0.4); border-radius:3px; top:24px; }
#modifiers .modifier:first-child { opacity:1.0; }

#modifiers .modifier .stmt_limit,
#modifiers .modifier .no_recursion,
#modifiers .modifier .no_loops,
#modifiers .modifier .no_conditionals { background:rgba(255, 0, 0, 0.5); }

#modifiers .modifier:first-child:before { content:' '; display:block; position:absolute; top:-6px; left:-64px; width:32px; height:32px; background:no-repeat url('../img/modifier_callout.png'); }
#modifiers .modifier { opacity:0.7; position:relative; }

.grid { overflow:hidden; }
.grid .gravatar { float:left; margin-right:16px; margin-bottom:16px; }
