<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/font/font.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/facebox.css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/spin.min.js"></script>
    <title>{% block title %}QuickerThan.Me{% endblock %}</title>
</head>
<body class="{% block body_class %}{% endblock %}">
    <header>
        {% block header %}
        <div>
            <div id="logo">
                <h1><a href="/">quickerthan.me</a></h1>
            </div>

            <div id="user-details">
            {% if user %}
                <div class="gravatar left">
                    <img src="http://www.gravatar.com/avatar/{{ user.gravatar_id }}" alt="Avatar" class="big-gravatar-image">
                </div>
                <div class="right">
                  <div class="username">
                      <a href="{{ user.get_absolute_url }}">{{ user.name }}</a>
                  </div>
                  <ul class="user-meta">
                      <!-- <li><a href="/leaderboards/">Leaderboards</a></li> -->
                      <li><a href="/logout/">Logout</a></li>
                  </ul>
                </div>
            {% else %}
                <a href="/auth/github/" class="button github-login">Login With GitHub</a>

                <div>
                    <ul>
                    <li><a href="/races/">Active Races</a></li>
                    </ul>
                </div>
            {% endif %}
            </div>
        </div>

        {% block extra_header %}

        {% endblock %}

        {% endblock %}
    </header>

    <div id="main">
        <div id="main-wrapper">
            {% block content %}
                <div class="box">
                  <div>
                    <p>You shouldn't see this...</p>
                  </div>
                </div>
            {% endblock %}
        </div>
    </div>
    <div style="width:100%; height:1px; clear:both;"></div>
    <footer>
        <div>
            Copyright &copy; 2011 &ndash;
            <a href="http://nodeknockout.com/teams/snowman">☃</a> &ndash;
            A <a href="http://nodeknockout.com/">Node Knockout</a> competition entry.
        </div>
        <div id="nkotarget">
        </div>
    </footer>
    {% block footer_all %}{% endblock %}
    {% block javascript %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/plate.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/facebox.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#nkotarget').append('<iframe src="http://nodeknockout.com/iframe/snowman" frameborder="0" scrolling="no" allowtransparency="true" width="115" height="25"></iframe>')

            $('a[rel*=facebox]').facebox({
                loadingImage : '{{ MEDIA_URL }}img/loading.gif',
                closeImage   : '{{ MEDIA_URL }}img/closelabel.png'
            })
      })
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>


    {% endblock %}
</body>
</html>
