<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" />
    <title>{% block title %}QuickerThan.Me{% endblock %}</title>
</head>
<body>
    <header>
        <div class="centerriffic">
            <div id="logo">
                <h1><a href="/">QuickerThan.Me</a></h1>
            </div>

            <div id="user-details">
            {% if user %}
                <div class="big-gravatar">
                    <img src="http://www.gravatar.com/avatar/{{ user.gravatar_id }}" alt="Avatar" class="big-gravatar-image">
                </div>
                <div class="username">
                    <a href="{{ user.get_absolute_url }}">{{ user.name }}</a>
                </div>
                <ul class="user-meta">
                    <!-- <li><a href="/leaderboards/">Leaderboards</a></li> -->
                    <li><a href="/logout/">Logout</a></li>
                </ul>
            {% else %}
                <a href="/auth/github/" class="button github-login">Login With GitHub</a>
            {% endif %}
            </div>
        </div>
    </header>

    <div id="main">
        <div id="main-wrapper" class="centerriffic">
            {% block content %}
                <p>You shouldn't see this...</p>
            {% endblock %}
        </div>
    </div>

    <footer>
        <div class="centerriffic">
            Copyright &copy; 2011 &ndash;
            <a href="http://nodeknockout.com/teams/snowman">☃</a> &ndash;
            A <a href="http://nodeknockout.com/">Node Knockout</a> competition entry.
        </div>
    </footer>
</body>
</html>
