{% extends "base.html" %}

{% block title %}Add Question - {{ block.super }}{% endblock %}

{% block content %}
    <div class="box">
      <div>
        <div class="divider">
          <h2>Thanks!</h2>
          <p>
              Your question has been added to the collection! You&rsquo;re the best!
          </p>
        </div>
        <div class="divider">
          <p>
              Now go <a href="/">home</a> &amp; start a new game already!
              Or go check out your awesome <a href="{{ user.get_absolute_url }}stats/">stats</a>!
          </p>
        </div>
      </div>
    </div>
{% endblock %}
