{% extends "base.html" %}

{% block title %}Race {{ race.pk }} - {{ block.super }}{% endblock %}

{% block content %}
        <script type="text/html" id="question_template">
          {{ question_template|safe }}
        </script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/race.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        <div id="race">
        <div id="full-track">
            <div class="stats">
                <h3>Time Left: <span id="time-left">7:38</span></h3>
                <h3>Leader: <span id="current-leader">Chris</span></h3>
            </div>
            <div id="track">
              {% for racer in racers %}
                <div id="{{ racer.screen_name }}" class="racer">
                  <img src="http://www.gravatar.com/avatar/{{ user.gravatar_id }}" alt="{{ racer.name }}" />
                </div>
              {% endfor %} 
            </div>
        </div>

        <div id="questions">
       
        </div>
        <div id="answer">
            <textarea class="answer"></textarea>
            <div id="status"></div>
        </div>
        </div>
        <div id="lobby">
          {% for racer in racers %}
              <div id="{{ racer.screen_name }}" class="racer">
                <img src="http://www.gravatar.com/avatar/{{ user.gravatar_id }}" alt="{{ racer.name }}" />
                <h3>{{ racer.name }}</h3>
                {% if racer.pk == user.pk %}
                <button class="status">Not ready</button>
                {% else %}
                  <p class="status">Not ready</p>
                {% endif %}
              </div>
          {% endfor %}
        </div>
{% endblock %}
