{% extends "base.html" %}

{% block title %}Race {{ race.pk }} - {{ block.super }}{% endblock %}

{% block body_class %}lobby loading{% endblock %}

{% block content %}
        <div id="track" class="racing">
        </div>
        <div id="race" class="racing">
        <div id="right" class="racing">:D</div>
        <div id="wrong" class="racing">:(</div>
        <div id="question" class="racing">
          <p class="description"></p>
          <pre class="input"></pre>
        </div>
        <div id="answer" class="racing">
            <form id="race-form" method="POST" action=".">
              <textarea class="answer" name="answer"></textarea>
              <div id="status"></div>
            </form>
        </div>
        </div>
        <div id="lobby" class="lobby">
        </div>
        <!-- FIXME: Just for now, until we get styling on the page so there's no overlap. -->
        <div style="text-align: right">
          <h2>Invite Others To Race via Twitter!</h2>
          <a href="http://twitter.com/share" class="twitter-share-button" data-text="I dare you to prove you're" data-url="http://quickerthan.me/races/{{ race.pk }}/." data-count="none" data-related="quickerthanme">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>
{% endblock %}

{% block javascript %}
  {{ block.super|safe }}
  <script type="text/html" id="question_template">
    {{ question_template|safe }}
  </script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/race.js"></script>

  <script type="text/javascript">
    $(function() {
      $.getScript('/socket.io/socket.io.js', function() {
        var race = new QKR.Race({{ race.pk }}, {{ user.pk }}, $('#race-form'))
      })
    })
  </script>
{% endblock %}

{% block footer_all %}
  <div class="loading">
    <h2><span id="race-loading-spinner"></span>Loading...</h2>
    <script type="text/javascript">
      var opts = {
        lines: 12,
        length: 5,
        width: 2,
        radius: 5,
        color: '#000',
        speed: 1,
        trail: 50,
        shadow: false
      };
      var target = document.getElementById('race-loading-spinner');
      var spinner = new Spinner(opts).spin(target);
    </script>
  </div>
{% endblock %}
