{% extends 'base.html' %}

{% block title %}Race #{{ race.pk}} Stats - {{ block.super }}{% endblock %}

{% block content %}
    <div class="generic-wrapper">
        <h2>Race #{{ race.pk}} Stats</h2>

        <div id="podium">
            {% with race.get_first_place as first_place %}
                {% if first_place %}
                {% with first_place.user as user %}
                <div id="first-place">
                    <img src="http://www.gravatar.com/avatar/{{ user.gravatar_id }}" alt="{{ user.name }}" class="gravatar-image">
                    <div>
                        <div class="big-first">1st</div>
                        <div><a href="{{ user.get_absolute_url }}">{{ user.name }}</a></div>
                    </div>
                </div>
                {% endwith %}
                {% endif %}
            {% endwith %}
            {% with race.get_second_place as second_place %}
                {% if second_place %}
                {% with second_place.user as user %}
                <div id="second-place">
                    <img src="http://www.gravatar.com/avatar/{{ user.gravatar_id }}" alt="{{ user.name }}" class="gravatar-image">
                    <div>
                        <div class="big-second">2nd</div>
                        <div><a href="{{ user.get_absolute_url }}">{{ user.name }}</a></div>
                    </div>
                </div>
                {% endwith %}
                {% endif %}
            {% endwith %}
            {% with race.get_third_place as third_place %}
                {% if third_place %}
                {% with third_place.user as user %}
                <div id="third-place">
                    <img src="http://www.gravatar.com/avatar/{{ user.gravatar_id }}" alt="{{ user.name }}" class="gravatar-image">
                    <div>
                        <div class="big-third">3rd</div>
                        <div><a href="{{ user.get_absolute_url }}">{{ user.name }}</a></div>
                    </div>
                </div>
                {% endwith %}
                {% endif %}
            {% endwith %}
        </div>

        <div>
            <h3>Match Breakdown</h3>

            <table>
                <thead>
                    <tr>
                        <th>Player</th>
                        {% with race.questions.all as questions %}
                        {% for question in questions %}
                        {% with question as the_q %}
                        <td>#{{ forloop.counter }}</td>
                        {% endwith %}
                        {% endfor %}
                        {% endwith %}
                    </tr>
                </thead>
                <tbody>
                    {% with race.results as results %}
                    {% for outcome in results %}
                    {% with outcome.user as user %}
                    <tr>
                        <th>
                            <a href="{{ user.get_absolute_url }}">{{ user.name }}</a>
                        </th>
                        {% with outcome.answers as answers %}
                        {% for answer in answers %}
                            {% with answer as the_a %}
                            <td>{{ the_a.time_taken|floatformat:2 }} seconds</td>
                            {% endwith %}
                        {% endfor %}
                        {% endwith %}
                    </tr>
                    {% endwith %}
                    {% endfor %}
                    {% endwith %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
