{% extends 'base.html' %}

{% block title %}Race #{{ race.pk}} Stats - {{ block.super }}{% endblock %}

{% block content %}
    <div class="generic-wrapper">
        <h2>Race #{{ race.pk}} Stats</h2>

        <div id="podium">
            {% with race.get_first_place as first_place %}
                {% if first_place %}
                {% with first_place.user as user %}
                <div id="first-place">
                    <img src="http://www.gravatar.com/avatar/{{ user.gravatar_id }}" alt="{{ user.name }}" class="gravatar-image">
                    <div>
                        <div class="big-first">1st</div>
                        <div><a href="{{ user.get_absolute_url }}">{{ user.name }}</a></div>
                    </div>
                </div>
                {% endwith %}
                {% endif %}
            {% endwith %}
            {% with race.get_second_place as second_place %}
                {% if second_place %}
                {% with second_place.user as user %}
                <div id="second-place">
                    <img src="http://www.gravatar.com/avatar/{{ user.gravatar_id }}" alt="{{ user.name }}" class="gravatar-image">
                    <div>
                        <div class="big-second">2nd</div>
                        <div><a href="{{ user.get_absolute_url }}">{{ user.name }}</a></div>
                    </div>
                </div>
                {% endwith %}
                {% endif %}
            {% endwith %}
            {% with race.get_third_place as third_place %}
                {% if third_place %}
                {% with third_place.user as user %}
                <div id="third-place">
                    <img src="http://www.gravatar.com/avatar/{{ user.gravatar_id }}" alt="{{ user.name }}" class="gravatar-image">
                    <div>
                        <div class="big-third">3rd</div>
                        <div><a href="{{ user.get_absolute_url }}">{{ user.name }}</a></div>
                    </div>
                </div>
                {% endwith %}
                {% endif %}
            {% endwith %}
        </div>

        <div>
            <h3>Race Details</h3>

            <div>
                <table>
                    <tbody>
                        <tr>
                            <th>Race Type:</th>
                            <td>{{ race.get_type_display }}</td>
                        </tr>
                        <tr>
                            <th>Players:</th>
                            <td>{% with race.racers.all.count as count %}{{ count }}{% endwith %}</td>
                        </tr>
                        <tr>
                            <th>Played on:</th>
                            <td>{{ race.played_on }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Question Breakdown</h3>

            <table>
                <thead>
                    <tr>
                        <th>Player</th>
                        {% with race.questions.all as questions %}
                          {% for question in race.questions.all %}
                            <td>#{{ forloop.counter }}</td>
                          {% endfor %}
                        {% endwith %}
                    </tr>
                </thead>
                <tbody>
                    {% for outcome in race.outcome_set.all %}
                    <tr>
                        <th>
                            <a href="{{ outcome.user.get_absolute_url }}">{{ outcome.user.name }}</a>
                        </th>
                        {% for answer in outcome.answers %}
                            <td>{{ answer.time_taken|floatformat:2 }} seconds</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
