{% extends "base.html" %}

{% block title %}Race {{ race.pk }} - {{ block.super }}{% endblock %}

{% block content %}
        <div id="race">
        <div id="full-track">
            <div class="stats">
                <h3>Time Left: <span id="time-left">7:38</span></h3>
                <h3>Leader: <span id="current-leader">Chris</span></h3>
            </div>
            <div id="track">
            </div>
        </div>
        <div id="right">:D</div>
        <div id="wrong">:(</div>
        <div id="question">
          <p class="description"></p>
          <pre class="input"></pre> 
        </div>
        <div id="answer">
            <form id="race-form" method="POST" action=".">
              <textarea class="answer" name="answer"></textarea>
              <div id="status"></div>
            </form>
        </div>
        </div>
        <div id="lobby">
        </div>
{% endblock %}

{% block javascript %}
  {{ block.super|safe }}
  <script type="text/html" id="question_template">
    {{ question_template|safe }}
  </script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/race.js"></script>

  <script type="text/javascript">
    console.log(QKR)
    $(function() {
      $.getScript('/socket.io/socket.io.js', function() {
        var race = new QKR.Race({{ race.pk }}, {{ user.pk }}, $('#race-form'))

        {% for racer in racers %}
        race.add_racer(new QKR.Racer('{{ racer.screen_name }}', {% if racer.pk == user.pk %}true{% else %}false{% endif %}))
        {% endfor %}
      })
    })
  </script>
{% endblock %}
